# OS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint
project.xcworkspace
!default.xcworkspace
.xcode.env.local

# Bundle artifacts
*.jsbundle

# CocoaPods
Pods/
**/Pods/
*.xcworkspace
!default.xcworkspace

# Certificados e provisioning (nunca commitar)
*.p12
*.mobileprovision
*.cer
*.certSigningRequest

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive
